
.aside
  width: 300px
  height: calc(100% - 60px)
  background-color: #eee
  position: fixed
  top: 66px
  left: 0

  &.collapsed
    left: 0
  &.collapse
    left: -300px

  &__list-item
    height: 50px
    line-height: 50px
    display: block
    padding: 0 1em
    transition: all .1s linear
    &.active,
    &:hover
      text-decoration: none
      background-color: #18bc9c
      color: #fff

