.darker
  background-color: #ededed

.component
  height: 150px
  max-height: 150px

.component-input
  height: auto
  margin-right: 10px
  margin-left: 10px

span.glyphicon.glyphicon-search 
  padding-top: 10px
