@import 'jumbotron'
@import 'aside'
@import 'navbar'
@import 'component'

html,
body 
  width: 100%
  height: 100%
  box-sizing: border-box

.padding-top
  padding-top: 40px

.flex
  display: flex
  &-between
    justify-content: space-between

.settings
  display: flex
  align-items: center
  justify-content: space-around

.settings-control
  max-width: 450px

.setting-button
    display: block
    padding: 3px 20px
    clear: both
    font-weight: normal
    line-height: 1.846
    color: #666666
    white-space: nowrap
    cursor: pointer
    &:hover,
    &:focus
      text-decoration: none
      color: #141414
      background-color: #eeeeee


.close
  font-size: 20px